@{
    string title = "Search Result";
    string ClientList = "List of Clients";

    List<Clients> Clients = (List<Clients>) ViewData["clients"];

}

<h2>@title</h2>
<!--<p>@ClientList</p>-->

@if(Clients.Count() == 0)
{
<h3>No Client Found</h3>
}
  
 

@foreach (var item in Clients)
{
    <div class="card" style="border: 2px solid lightgrey">
        <div class="card-body">
          <p><h4>@item.firstname @item.lastname</h4></p>
          <p>Gender: @item.gender</p>
          <p>Contact Type: @item.contacttype</p>
          <p> Date of Birth: @item.dateofbirth</p>
          <p>Primary Address: @item.address1</p>
          <!--<td>@item.address2</td>-->
          <p>Primary Phone: @item.phone1</p>
          <!--<td>@item.phone2</td>-->
          <p>Primary Email: @item.email</p>
          <p>Current Product: @item.product</p>
         </div>             
         
    </div>
    <p></p>

    
}
