@{
    string title = "Search Result";
    string ClientList = "List of Clients";

    List<Clients> Clients = (List<Clients>) ViewData["clients"];

}

<h2>@title</h2>
<p>@ClientList</p>

@if(Clients.Count() == 0)
{
<h3>No Client Found</h3>
}
  
 

@foreach (var item in Clients)
{
    <div class="card" style="border: 1px solid lightgrey">
        <div class="card-body">
          <p>@item.firstname @item.lastname</p>
          <p>Gender: @item.gender</p>
          <p> Date of Birth: @item.dateofbirth</p>
          <p>Primary Address: @item.address1</p>
          <!--<td>@item.address2</td>-->
          <p>Primary Phone: @item.phone1</p>
          <!--<td>@item.phone2</td>-->
          <p>Primary Email: @item.email</p>
                      
         </div>
            <div class="card-footer">
            <button class="btn btn-primary">Buy</button>
            </div>
    </div>
    <p></p>

    
}
