@{
  ViewData["title"] = "Update CLient";
  var clients = (Clients)ViewData["clients"];
}

<h1>@ViewData["title"]</h1>

<form action="/client/update" method="post">

    <div class="form-group">
        <input type="number" name="id" class="form-control" value="@clients.id" required placeholder="clients ID">
    </div>
    <div class="form-group">
        <input type="number" name="salutation" class="form-control" value="@clients.salutation" required placeholder="First Name">
    </div>
    <div class="form-group">
        <input type="text" name="firstname" class="form-control" value="@clients.firstname" required placeholder="First Name">
    </div>
    <div class="form-group">
        <input type="text" name="lastname" class="form-control" value="@clients.lastname" required placeholder="Last Name">
    </div>
    <div class="form-group">
        <input type="text" name="gender" class="form-control" value="@clients.gender" required placeholder="Gender">
    </div>
    <div class="form-group">
        <input type="date" name="dateofbirth" class="form-control" value="@clients.dateofbirth" required placeholder="Address">
    </div>
    <div class="form-group">
        <input type="text" name="address1" class="form-control" value="@clients.address1" required placeholder="Address 2">
    </div>
    <div class="form-group">
        <input type="text" name="address1" class="form-control" value="@clients.address2" required placeholder="Address 2">
    </div>
    <div class="form-group">
        <input type="tel" name="phone1" class="form-control" value="@clients.phone1" required placeholder="Phone 1">
    </div>
    <div class="form-group">
        <input type="tel" name="phone2" class="form-control" value="@clients.phone2" required placeholder="Phone 2">
    </div>
    <div class="form-group">
        <input type="text" name="email" class="form-control" value="@clients.email" placeholder="Email">
    </div>
    
    


    <input type="submit" class="btn btn-primary" value="Save">
</form>