<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<hr>
<div class="container bootstrap snippet">
    <div class="row">
  		<div class="col-sm-10"><h1>Update Client</h1></div>
    	
    </div>
    <div class="row">
  		<div class="col-sm-3"><!--left col-->
        

      <div class="text-center">
        <img src="~/images/avatar1.jpg" class="avatar img-circle img-thumbnail" alt="avatar">
        <h6>Upload a different photo...</h6>
        <input type="file" class="text-center center-block file-upload">
      </div>
</hr><br>

               
                         
                    
        </div><!--/col-3-->
    	<div class="col-sm-9">
            
@{
   var clients = (Clients)ViewData["clients"];
}

              
          <div class="tab-content">
            <div class="tab-pane active" id="home">
                <hr>
                  <form class="form" action="/client/update1" method="post">
                      
                         <div class="form-group">
                          <div class="col-xs-6">
                              <label for="id"><h4>Client ID</h4></label>
                              <input type="text" class="form-control" name="id" value ="@clients.id" required placeholder="Client ID">
                          </div>
                      </div>

                       <div class="form-group">
                          <div class="col-xs-6">
                              <label for="salutation"><h4>Salutation</h4></label>
                              <input type="text" class="form-control" name="salutation" value="@clients.salutation" required placeholder="salutation">
                          </div>
                      </div>

                                           
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="firstname"><h4>First name</h4></label>
                              <input type="text" class="form-control" name="firstname" value="@clients.firstname" required placeholder="first name" title="enter your first name if any.">
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                            <label for="lastname"><h4>Last name</h4></label>
                              <input type="text" class="form-control" name="lastname" value="@clients.lastname" required placeholder="last name" title="enter your last name if any.">
                          </div>
                      </div>

                      <div class="form-group">
                          <div class="col-xs-6">
                              <label for="gender"><h4>Gender</h4></label>
                              <input type="text" class="form-control" name="gender" value="@clients.gender" required placeholder="gender" title="client gender.">
                          </div>
                      </div>

                      <div class="form-group">
                          <div class="col-xs-6">
                              <label for="contacttype"><h4>Contact Type</h4></label>
                              <input type="text" class="form-control" name="contacttype" value="@clients.contacttype" required placeholder="contacttype" title="client contact.">
                          </div>
                      </div>

                      <div class="form-group">
     
                       <div class="form-group">
                          <div class="col-xs-6">
                              <label for="dateofbirth"><h4>Date of Birth</h4></label>
                              <input type="date" class="form-control" name="dateofbirth"  value="@clients.dateofbirth" required placeholder="dateofbirth" title="client date of birth.">
                          </div>
                      </div>

                        <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="address1"><h4>Primary Address</h4></label>
                              <input type="text" class="form-control" name="address1" value="@clients.address1" required placeholder="Client's Primary Address" title="enter a location">
                          </div>
                      </div>
                      <div class="form-group">

                        <div class="col-xs-6">
                              <label for="address2"><h4>Alternate Address</h4></label>
                              <input type="text" class="form-control" name="address2" value="@clients.address2" required placeholder="Client's Alternate Address" title="enter a location">
                          </div>
                      </div>

                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="phone1"><h4>Phone</h4></label>
                              <input type="tel" class="form-control" name="phone1" value="@clients.phone1" required placeholder="enter phone1" title="enter your phone number if any.">
                          </div>
                      </div>
          
                      <div class="form-group">
                          <div class="col-xs-6">
                             <label for="phone2"><h4>Mobile</h4></label>
                              <input type="tel" class="form-control" name="phone2" value="@clients.phone2" required placeholder="enter phone2" title="enter your phone2 number if any.">
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="email"><h4>Email</h4></label>
                              <input type="email" class="form-control" name="email" value="@clients.email" requiredid="email" placeholder="you@email.com" title="enter your email.">
                          </div>
                      </div>

                      <div class="form-group">
                          <div class="col-xs-6">
                              <label for="product"><h4>Product</h4></label>
                              <input type="text" class="form-control" name="product" value="@clients.product" required placeholder="product" title="client product.">
                          </div>
                      </div>
                      
                      	                      
                                             
                      
                      <div class="form-group">
                           <div class="col-xs-12">
                                <br>
                              	<button class="btn btn-lg btn-success" type="Save"><i class="glyphicon glyphicon-ok-sign"></i>Update</button>
                               	<button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                            </div>
                      </div>
              	</form>
              
              <hr>
              
               
              </div>
               
              </div><!--/tab-pane-->
          </div><!--/tab-content-->

        </div><!--/col-9-->
    </div><!--/row-->

    <br>
    <br>
    <br>
                                                      